<!DOCTYPE html>
<html ng-app="outbreakGame">
<head>
  <% provide(:title, 'Vax') %>
  <%= javascript_include_tag "d3.v3" %>
  <%= javascript_include_tag "jsnetworkx" %>
  <%= javascript_include_tag "forceNet"%>
  <%= javascript_include_tag "netrics"%>
  <%= javascript_include_tag "sir"%>
  <%= javascript_include_tag "userInteraction"%>
  <%= javascript_include_tag "dataChange"%>
  <%= javascript_include_tag "deepCopy"%>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="outbreakGameCTRL">

<div>
  <button class="btn-success span4 offset1" ng-model="currentMode" ng-click='toggleAction()'> User Action: {{currentMode}}
  </button>

  <button class="btn-danger span4 offset1" ng-model="toggleVizString" ng-click='toggleVizMode()'> Toggle Visualization: {{toggleVizString}}
  </button>
</div>

</body>

</html>




