<!DOCTYPE html>
<html ng-app>
    <head>
        <% provide(:title, 'Vax') %>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "jsnetworkx-custom.js" %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "deepCopy.js" %>
        <%= javascript_include_tag "game.js"%>
        <%= csrf_meta_tags %>
    </head>

    <body ng-controller="myController">


    <div class="navbar row-fluid">
      <div class="navbar-inner">
        <div class="container" ng-model="numberOfCommunities" ng-model="largestCommunity" ng-model="vaccinesUsed">

          <a class="brand" href="#">Vax Goals: Number of Communities: {{numberOfCommunities}} || Largest Community: {{largestCommunity}} || Vaccines Used: {{vaccinesUsed}}</a>


        </div>
      </div>
    </div>

    Size By:
    <div class="btn-group">
      <button class="btn"
              ng-click = 'toggleDegree()'
              >
              Degree
      </button>
      <button class="btn"
              ng-click = 'toggleBC()'>
              Betweenness Centrality
      </button>
      <button class="btn"
              ng-click = 'vaccinate()'>
        Vaccinate!
      </button>
      <button class="btn"
              ng-click = 'subStrategy()'>
        Submit Strategy
      </button>
    </div>

    </body>



</html>




