<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Vax') %>

  <%= javascript_include_tag "d3.v3" %>
  <%= javascript_include_tag "footerMenu.js" %>
  <%= javascript_include_tag "gameMenu.js" %>
  <%= javascript_include_tag "game.js" %>



  <%= csrf_meta_tags %>
</head>

<body>



</body>


</html>

