<!DOCTYPE html>
<html ng-app>
    <head>
        <% provide(:title, 'Vax') %>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "jsnetworkx-custom.js" %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "graphTools" %>
        <%= javascript_include_tag "deepCopy.js" %>
        <%= javascript_include_tag "game.js"%>
        <%= csrf_meta_tags %>
    </head>

    <body ng-controller="gameController">


    <div class="navbar row-fluid">
      <div class="navbar-inner">
        <div class="container" ng-model="worstCase" ng-model="targetWorstCase" >

          <a class="brand" href="#">Worst Case Outbreak Scenario: Current={{worstCase}} || Goal={{targetWorstCase}}</a>


        </div>
      </div>
    </div>

   <span class="badge badge-info"       ng-model="numberOfCommunities"> Susceptible Groups: {{numberOfCommunities}} </span>
   <span class="badge badge-important"  ng-model="largestCommunity"   > Largest Group: {{largestCommunity}}         </span>
    <span class="badge badge-inverse"   ng-model="vaccinesUsed"       > Vaccines Used: {{vaccinesUsed}}             </span>


    <div class="progress" class="middle" ng-model="completion">
      <div class="bar bar-success" style="width: {{completion}}%;"></div>

    </div>




    <div ng-controller="gameController">
        Size By:
        <div class="btn-group">
          <button class="btn" ng-click = 'toggleDegree()'> Degree                 </button>
          <button class="btn" ng-click = 'toggleBC()'    > Betweenness Centrality </button>
        </div>
    </div>



    <button class="btn"
            ng-click = 'vaccinate()'>
      Vaccinate!
    </button>
    <button class="btn"
            ng-click = 'subStrategy()'>
      Submit Strategy
    </button>

    </body>


</html>




