<!DOCTYPE html>
<html>
<head>

  <% provide(:title, 'Game') %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom.min" %>
  <%= javascript_include_tag "footerMenu.js" %>
  <%= javascript_include_tag "gameMenu.js" %>
  <%= javascript_include_tag "game.js" %>

</head>

<body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43815419-2', 'vax.herokuapp.com');
    ga('send', 'pageview');

</script>

<audio id="audio">
  <source src="/assets/pop.wav" type="audio/wav" />
</audio>


    <div class="actionVax" onclick=activateGameVaccinationMode()>
      <div class="vaccineDepressedState"></div>
      <text id = "vaxShieldText"> VACCINES </text>
      <img id="vaxShieldIcon" src="/assets/vaxShield.svg" onclick=activateGameVaccinationMode()>
    </div>

    <div class="actionQuarantine" onclick=activateGameQuarantineMode()>
      <div class="quarantineDepressedState"></div>
      <text id = "quarantineText"> QUARANTINE </text>
      <img id="quarantineIcon" src="/assets/quarantine.svg" onclick=activateGameQuarantineMode()>
    </div>


    <div id = "customMenuDiv" >

      <div class = "customHeaderFooter" id = "customLevelHeader"> CUSTOM LEVEL </div>

      <div class = "customMenuItem" id = "customNodes"> Nodes: </div>
      <div id = "nodeSlider">  </div>

      <div class = "customMenuItem" id = "customDegree"> Neighbors: </div>
      <div id = "degreeSlider" >  </div>

      <div class = "customMenuItem" id = "customVaccines"> Vaccines:  </div>
      <div id = "vaccineSlider" >  </div>

      <div class = "customMenuItem" id = "customRefusers"> Refusers:  </div>
      <div id = "refuserSlider" >  </div>

      <div class = "customMenuItem" id = "customOutbreaks"> Outbreaks:  </div>
      <div id = "outbreakSlider" >  </div>

    </div>

<div class="popup_game_share">
  <a href="https://plus.google.com/share?url=http://vax.herokuapp.com" target="_blank"><%=image_tag("googleplus_icon.png", style:"padding:12px 7px 0px 7px;width:25px;")%></a>
  <a id="twitter" href="" target="_blank"><%=image_tag("twitter_icon.png", style:"padding:12px 7px 0px 7px;width:25px;")%></a>
  <a id="facebook" href="" target="_blank"><%=image_tag("facebook_icon.png", style:"padding:12px 7px 0px 7px;width:25px;")%></a></div>
</div>


</body>


</html>

