<!DOCTYPE html>
<html ng-app>
    <head>
        <% provide(:title, 'Vax') %>
        <%= javascript_include_tag "d3.v3.min.js" %>
        <%= javascript_include_tag "jsnetworkx-custom.js" %>
        <%= javascript_include_tag "graphTools" %>
        <%= javascript_include_tag "deepCopy.js" %>
        <%= javascript_include_tag "game.js"%>
        <%= csrf_meta_tags %>
    </head>

    <body ng-controller="gameController">


        <div class="container" ng-model="worstCase" ng-model="targetWorstCase"  ng-model="numberOfCommunities"  ng-model="largestCommunity" ng-model="vaccinesUsed" >
          <div class="span2"></div>
          <a class="btn-large btn-info">
              Largest Group: {{largestCommunity}}
          </a>
          <a class="btn-large btn-warning">
            Susceptible Groups: {{numberOfCommunities}}
          </a>
          <a class="btn-large btn-inverse">
              Vaccines Used: {{vaccinesUsed}}
          </a>
        </div>

        <div><br></div>

    <button class="btn-success span4 offset1" ng-click='toggleDegree()'> Size By Neighbor Count
    </button>

    <button class="btn-danger span4 offset1" ng-click='toggleBC()'> Size By Betweenness
    </button>

    </div>

    <div class="progress span10" ng-model="completion">
      <div class="bar bar-success" style="width: {{completion}}%;"></div>

    </div>

    <button class="btn-danger btn-large span9 offset1"
            ng-click = 'vaccinate()'>
      Vaccinate!
    </button>


    </body>

    <div> <br> </div>



</html>




