<!DOCTYPE html>
<html>
<head>
  <% content_for :head do %>
      <meta name="description" content="Learn the core concepts of Herd Immunity with this interactive simulation.">
      <meta name="keywords" content="what is herd immunity, what is community immunity, herd immunity, herd immunity threshold, basic reproductive number, R0, vaccination, vax, epidemic prevention">
  <% end %>


  <%= javascript_include_tag "hiNET" %>
  <%= javascript_include_tag "hiScript" %>
  <%= javascript_include_tag "hiSims" %>
  <%= javascript_include_tag "hiBarChart" %>
  <%= javascript_include_tag "herdImmunity" %>







</head>
<body>

</body>
</html>