<!DOCTYPE html>
<html ng-app>
<head>
  <% provide(:title, 'Vax') %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "jsnetworkx-custom.js" %>
  <%= javascript_include_tag "d3.v3.min.js" %>
  <%= javascript_include_tag "deepCopy.js" %>
  <%= javascript_include_tag "outbreakSim.js"%>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="gameController">

</body>

