<!DOCTYPE html>
<html ng-app="quarantineGame">
<head>
  <% provide(:title, 'Vax') %>
  <%= javascript_include_tag "d3.v3.min.js" %>
  <%= javascript_include_tag "jsnetworkx" %>
  <%= javascript_include_tag "graphTools" %>
  <%= javascript_include_tag "deepCopy.js" %>
  <%= javascript_include_tag "quarantine.js"%>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="quarantineGameCTRL">



</body>

<div> <br> </div>



</html>




