<!DOCTYPE html>
<html ng-app="outbreakGame">
<head>
  <% provide(:title, 'Vax') %>
  <%= javascript_include_tag "d3.v3" %>
  <%= javascript_include_tag "jsnetworkx" %>
  <%= javascript_include_tag "superformula"%>
  <%= javascript_include_tag "forceNet"%>
  <%= javascript_include_tag "netrics"%>
  <%= javascript_include_tag "sir"%>
  <%= javascript_include_tag "userInteraction"%>
  <%= javascript_include_tag "dataChange"%>
  <%= javascript_include_tag "deepCopy"%>
  <%= javascript_include_tag "sirFig"%>

  <%= csrf_meta_tags %>
</head>

<body>






</body>

</html>




