<!DOCTYPE html>
<html>
<head>

  <% provide(:title, 'Score Recap') %>
  <%= include_gon %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= javascript_include_tag "scores" %>





</head>

<body>



<div id="scoreForm">
  <%= form_for(@score) do |f| %>

      <%= f.hidden_field :scenario %>

      <%= f.hidden_field :difficulty %>

      <%= f.hidden_field :realtime %>

      <%= f.hidden_field :infected %>

      <%= f.hidden_field :quarantined %>

      <%= f.hidden_field :saved %>

      <%= f.submit "How did I compare?" %>
  <% end %>
</div>

</body>


</html>

