<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="HWP7ea-b6Rv97I3KR7qvk5eX-yaaZ3cNdUL1-qxBrHI" />

  <%= render 'layouts/shim' %>
</head>
<body>

<div>  <%= yield %> </div>
</body>
</html>