<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="HWP7ea-b6Rv97I3KR7qvk5eX-yaaZ3cNdUL1-qxBrHI" />
  <meta name="description" content="Vax! is a puzzle-game infused with chance that was inspired by real-world challenges, infectious disease modeling, and addictively rewarding gameplay.">
  <meta name="keywords" content="epidemic, pandemic, outbreak, game, vaccine, anti-vax">

  <%= render 'layouts/shim' %>
</head>
<body>

<div>  <%= yield %> </div>
</body>
</html>